.card {
    background: var(--clr-card-background);
    padding: 2rem;
    border: 1px solid #cccccc65;
    border-radius: 1rem;
    box-shadow: -0.2rem 0.2rem 0.5rem #cccccc55;
}

.link {
    color: var(--clr-primary-dark);
    text-decoration: none;
}
.link:hover {
    color: var(--clr-primary-light);
}

input {
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid #cccccc;
    border-radius: 0.25rem;
    outline: none;
}
input:focus {
    outline: var(--clr-primary-light) solid 1px;
    border: 1px solid #0000;
}

label {
    display: block;
    margin-bottom: 0.25rem;
}

button {
    cursor: pointer;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.2rem;
    background: var(--clr-primary-dark);
    color: #ffffff;
    outline: none;
    border: none;
    transition: 300ms background-color ease-in-out;
}
button:hover {
    background: var(--clr-primary-light);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--clr-text-dark);
}

p {
    color: var(--clr-text-light);
    font-weight: 500;
}