:root {
    --clr-primary-light: #88dfff;
    --clr-primary-dark: #2ad2ff;

    --clr-card-background: #ffffff;

    --clr-text-dark: #777;
    --clr-text-light: #999;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100svh;
}
