@import "utilities.css";

:root {
  --clr-primary-light: #2ad2ff;
  --clr-primary-dark: #4cc6f8;
  --clr-text-light: #aaa;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100svw;
  max-height: 100svh;
  overflow: hidden;
}

main {
  max-height: 100svh;
}