:root {
  --sidebar-width: 16rem;
  --sidebar-header-height: 12rem;
  --navbar-height: 4rem;

  --clr-primary-50: hsl(190, 100%, 90%);
  --clr-primary-100: hsl(190, 100%, 80%);
  --clr-primary-300: hsl(190, 100%, 70%);
  --clr-primary-400: hsl(190, 100%, 60%);
  --clr-primary-500: hsl(190, 100%, 50%);
  --clr-primary-600: hsl(190, 100%, 40%);
  --clr-primary-800: hsl(190, 100%, 20%);

  --clr-neutral-10: hsl(0 0% 97%);
  --clr-neutral-50: hsl(0 0% 90%);
  --clr-neutral-100: hsl(0 0% 80%);
  --clr-neutral-200: hsl(0 0% 70%);
  --clr-neutral-400: hsl(0 0% 60%);
  --clr-neutral-600: hsl(0 0% 40%);
  --clr-neutral-800: hsl(0 0% 20%);

  --clr-text-light: #666;
  --clr-text-dark: #444;
  --clr-text-heading: #222;

  --clr-card-bg: #fff;
  --clr-card-border: #ccc8;
  --clr-shadow: #ccc8;

  --clr-input-border: #ccc;
  --clr-input-color: #888;
  --clr-input-focus: #53d9ff;
  --clr-input-error: hsl(0, 100%, 50%);

  --clr-btn-form-bg: #53d9ff;
  --clr-btn-form-color: #fff;
  --clr-btn-form-border: #53d9ff;
  --clr-btn-form-disabled: #7adeff;
  --clr-btn-form-hover-bg: #0bc9fe;
  --clr-btn-form-hover-border: #0bc9fe;

  --clr-btn-primary-bg: #222;
  --clr-btn-primary-color: #fff;
  --clr-btn-primary-border: #222;
  --clr-btn-primary-disabled: #444;
  --clr-btn-primary-hover-bg: #666;
  --clr-btn-primary-hover-border: #666;

  --clr-btn-secondary-bg: #eee;
  --clr-btn-secondary-color: #222;
  --clr-btn-secondary-border: #222;
  --clr-btn-secondary-disabled: #444;
  --clr-btn-secondary-hover-bg: #ddd;
  --clr-btn-secondary-hover-border: #666;
  --clr-btn-secondary-hover-color: #222;

  --clr-link-color: #53d9ff;
  --clr-link-hover-color: #0bc9fe;

  font-size: 18px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--clr-text-heading)
}

a {
  color: var(--clr-link-color);
  text-decoration: none;
}

a:hover {
  color: var(--clr-link-hover-color);
}

button {
  font-size: inherit;
  font-weight: 600;
  color: var(--clr-btn-primary-color);
  background-color: var(--clr-btn-primary-bg);
  border: 1px solid var(--clr-btn-primary-border);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  outline: none;
  transition: 0.3s ease-in-out;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

button:hover {
  background-color: var(--clr-btn-primary-hover-bg);
  border-color: var(--clr-btn-primary-hover-border);
}

button:disabled {
  background-color: var(--clr-btn-primary-disabled);
  pointer-events: none;
}

input {
  font-size: inherit;
  width: 100%;
  padding: 0.55rem 1rem;
  outline: none;
  border: 1px solid var(--clr-input-border);
  border-radius: 0.25rem;
  color: var(--clr-input-color);
  background-color: transparent;
}

input:focus {
  border-color: var(--clr-text-dark);
}

nav {
  height: var(--navbar-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--clr-card-border);
  padding: 0 5rem;
  box-shadow: 0 0 6px #ccc6;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  list-style: none;
}

nav a {
  color: var(--clr-text-light);
  transition: 0.3s ease-in-out;
  position: relative;
}

nav a:hover,
nav a.active-link {
  color: var(--clr-link-hover-color);
}

nav a::after {
  content: "";
  position: absolute;
  background-color: var(--clr-link-hover-color);
  width: 0;
  height: 2px;
  border-radius: 4px;
  bottom: -20%;
  left: -10%;
  transition: 0.3s ease-in-out;
}

nav a:hover::after {
  width: 120%;
}

.sidebar {
  display: grid;
  grid-template-columns: var(--sidebar-width) 1fr;
  height: calc(100svh - var(--navbar-height));
}

.loader {
  height: 20px;
  color: inherit;
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }

  to {
    rotate: 359deg;
  }
}

.btn-secondary {
  background-color: var(--clr-btn-secondary-bg);
  border: none;
  color: var(--clr-btn-secondary-color);
}

.btn-secondary:hover {
  background-color: var(--clr-btn-secondary-hover-bg);
  color: var(--clr-btn-secondary-hover-color);
}

.btn-secondary:disabled {
  background-color: var(--clr-btn-secondary-disabled);
}

.btn-outlined {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}
.btn-outlined:hover {
  color: var(--clr-primary-400);
  background-color: white;
  border: 1px solid white;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
form h1 {
  letter-spacing: 6px;
}
form > :nth-child(2) {
  width: 100%;
  display: grid;
  gap: 1rem;
}

form .second-input {
  display: flex;
  gap: 1rem;
}
form .second-input > * {
  width: 100%;
}

form button {
  background-color: var(--clr-primary-500);
  border: none;
}
form button:hover {
  background-color: var(--clr-primary-400);
}
form button:disabled {
  background-color: var(--clr-primary-300);
}

.input-container {
  position: relative;
  height: 4rem;
}
form input:focus {
  border-color: var(--clr-primary-400);
}
label {
  color: var(--clr-neutral-800);
  background-color: var(--clr-card-bg);
  transition: 0.3s ease-in-out;
  cursor: text;
}

.label:has(+ input:focus),
.label:has(+ input.toggle),
.input-container:has(.input-error) label {
  top: -2px;
}
.input-error {
  color: var(--clr-input-error);
  margin-top: 0.5rem;
  margin-left: 1rem;
}
.input-container:has(.input-error) input {
  border-color: var(--clr-input-error);
}
.label {
  position: absolute;
  left: 1rem;
  top: 1.25rem;
  transform: translateY(-50%);
  padding: 0 0.5rem;
}