.image {
  position: relative;
  width: 130px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
}

.main > div {
  margin: 100px 0 0 150px;
  display: grid;
  gap: 2rem;
}

.main h3 {
  color: var(--clr-text-heading);
  margin-bottom: 0.25rem;
  letter-spacing: 1px;
}
.main p {
  color: var(--clr-text-dark);
}

.session {
  display: grid;
  gap: 1.5rem;
}

.session > div:first-child {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.session > div:nth-child(3) {
  width: 50%;
  min-width: 600px;
  display: grid;
  gap: 1.5rem;
}

.session > div:nth-child(3) > div:nth-child(3) {
  display: flex;
  gap: 1rem;
}
