.image {
  position: relative;
  width: 130px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
}

.main > div {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin: 100px 0 0 150px;
  background-color: #53d9ff22;
}

.main h3 {
  color: var(--clr-text-heading);
  margin-bottom: 0.25rem;
  letter-spacing: 1px;
}
.main p {
  color: var(--clr-text-dark);
}
